body {
    margin: 0;
    width: min-content;
    height: min-content;
    color: #000;
    cursor: default;

}

.chip {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 1s linear;
}

.statusText {
    font-size: 15px;
    font-weight: bold;
    transition: all 1s linear;
}

.chip:hover {
    opacity: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-header {
    width: auto;
    height: 100px;
}

.header {
    font-family: "Arabic Typesetting", serif;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.button-container {
    text-align: center;
    transition: all 1s linear;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Error {
    text-align: center;
    color: darkred;
    width: 100%;
    height: 100%;
    direction: ltr;
}

.flex-container-wrap {
    transition: all 0.5s linear;
    display: flex;
    flex-wrap: wrap;
    /*background-color: RGB(227, 222, 222, 0.5);*/
    font-family: "Arabic Typesetting", serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    direction: rtl;
    text-align: right;
    align-items: flex-start;
    align-content: space-between;
    height: 150px;
    scroll-behavior: auto;
    overflow: auto;
    margin-bottom: 5px;
    /*background-image: url("images/gray.png");*/
}

.flex-container-wrap::-webkit-scrollbar {
    width: 5px;
}

.flex-container-wrap::-webkit-scrollbar-thumb {
    background: linear-gradient(black, black);
}

.flex-container-wrap::-webkit-scrollbar-track {
    background: linear-gradient(ghostwhite, white);
}

.PER, .ADJ {
    background-color: #aadb51;
}

.ORG, .V {
    background-color: #ffe05d;
}

.LOC, .N {
    background-color: lightpink;
}

.DAT, .P {
    background-color: lightblue;
}

.TIM, .DELM {
    background-color: crimson;
}

.PCT, .ADV {
    background-color: lightsalmon;
}

.MON, .CON {
    background-color: mediumpurple;
}

.NUM {
    background-color: darkkhaki;
}

.PRO {
    background-color: steelblue;
}

.CLITIC {
    background-color: seagreen;
}

.PER_W, .ADJ_W, .ORG_W, .V_W, .LOC_W, .N_W,
.DAT_W, .P_W, .TIM_W, .DELM_W, .PCT_W, .ADV_W,
.MON_W, .CON_W, .NUM_W, PRO_W, CLITIC_W {
    background-color: rgba(0, 0, 0, 0);
}

.NER {
    border-radius: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}


.switch-button {
    background: rgba(15, 76, 129);
    background: linear-gradient(white, darkgray);
    font-family: 'Brush Script MT', cursive;
    border-radius: 20px;
    overflow: hidden;
    width: 70px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 60px;
}

.switch-button:before {
    content: "NER";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(61px);
    transition: transform 2s;
}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: linear-gradient(white, green);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 35px;
    transform: translateX(0);
    transition: transform 2s;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}


.lds-roller {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    text-align: center;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
